{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}

	<!--SERVICE SECTION-->
	<section id="faq" class="padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="heading heading_space wow fadeInDown"><span>Éditer</span> un article<span class="divider-left"></span></h2>
					<div class="faq_content wow fadeIn" data-wow-delay="400ms">
						<div class="form group">
							<div class="item">{{ include('article/_form.html.twig', {'button_label': 'Save'}) }}</div>
							<div class="item">{{ include('article/_delete_form.html.twig') }}</div>
							<div class="item">
								<a class=" btn_common btn_border margin10 border_radius" href="{{ path('article_index') }}">back to list</a>
							</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
