{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block section %}

	<!--Page Header-->
	<section class="page_header padding-top">
		<div class="container">
			<div class="row">
				<div class="col-md-12 page-content">
					<h1>Articles</h1>
					<p>Vous trouvrez ici toutes les nouveautés publiées par le CNAM</p>
					<div class="page_nav">
						<span>Vous êtes ici:</span> <a href="index.html">Accueil</a> <span><i class="fa fa-angle-double-right"></i>Articles</span>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--ARTICLE INDEX-->
	<section id="blog" class="padding">
		<div class="container">
			<h2 class="hidden">Our Blog</h2>
			<div class="row">
				<div class="col-md-9">
					{% if role == 'BDE' or role == 'DELEGATE' %}
						{% for lst_article in articles %}
							{% for article in lst_article %}
								{% include 'article/minimal_view.html.twig'	%}
							{% endfor %}
						{% endfor %}
					{% else %}
						{% for article in articles %}
							{% include 'article/minimal_view.html.twig'	%}
						{% endfor %}
					{% endif %}

				</div>
			</div>
		</div>
	</section>
	<!--ARTCILE INDEX-->
{% endblock %}


