{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}

	<!--SERVICE SECTION-->
	<section id="faq" class="padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="heading heading_space wow fadeInDown"><span>Créer</span> un nouvel article<span class="divider-left"></span></h2>
					<div class="faq_content wow fadeIn" data-wow-delay="400ms">
						{{ include('article/_form.html.twig') }}
						<a class=" btn_common btn_border margin10 border_radius" href="{{ path('article_index') }}">back to list</a>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
