{% extends 'base.html.twig' %}

{% block title %}Liste des promotions{% endblock %}

{% block body %}

<!--Page Header-->
	<section class="page_header padding-top">
		<div class="container">
			<div class="row">
				<div class="col-md-12 page-content">
					<h1>Promotions</h1>
					<p>Vous trouvrez ici la liste des promotions de la formation</p>
					<br>
					{% if app.user and is_granted("ROLE_ADMIN") %}
						<div class="page_nav">
							<a class="btn_common btn_border margin10 border_radius" href="{{ path('promotion_new') }}">
								Créer une promotion
							</a>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
<!--Page Header-->



<!-- services -->
<section id="course_all" class="padding-bottom">
	<div class="container">
		<div class="row">
			{% for promotion in promotions %}
				{% include 'promotion/minimal_view.html.twig'	%}
			{% endfor %}
		</div>
	</div>
</section>
<!-- services ends -->
{% endblock %}
