{% extends 'base.html.twig' %}

{% block title %}Nouvelle promotion{% endblock %}

{% block body %}
	<h1>Insertion d'une nouvelle <strong>promotion</strong></h1>
	<a href="#promotion" class="btn btn-danger">Allons y !</a>
{% endblock %}

{% block section %}
	<section id="promotion">
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<div class="row">

							{{ include('promotion/_form.html.twig') }}

							<a href="{{ path('promotion_index') }}">back to list</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
