{% extends 'base.html.twig' %}

{% block title %}Nouvel étudiant{% endblock %}

{% block body %}

	<section id="faq" class="padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="heading heading_space wow fadeInDown"><span>Ajout</span> d'un nouvel étudiant<span class="divider-left"></span></h2>
					<div class="faq_content wow fadeIn" data-wow-delay="400ms">
						<div class="form group">
							<div class="item">{{ include('student/_form.html.twig', {'button_label': 'Enregistrer'}) }}</div>
							<div class="item">
								<a class=" btn_common btn_border margin10 border_radius" href="{{ path('promotion_index') }}">Retour aux promotions</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
