{% extends 'base.html.twig' %}

{% block title %}Nouvelle matière{% endblock %}

{% block body %}
    <h1>Créer une nouvelle matière</h1>

    {{ include('subject/_form.html.twig') }}

    <a href="{{ path('subject_index') }}">Retour à la liste</a>
{% endblock %}
