{% extends 'base.html.twig' %}

{% block title %}BDE index{% endblock %}

{% block body %}
	<h1>BDE index</h1>

	<table class="table">
		<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>actions</th>
		</tr>
		</thead>
		<tbody>
		{% for bdeMember in bdeMembers %}
			<tr>
				<td>{{ bdeMember.id }}</td>
				<td>{{ bdeMember.firstName }} {{ bdeMember.lastName }}</td>
				<td>
					<a href="{{ path('bde_remove', {'id': bdeMember.id}) }}">remove</a>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="4">no records found</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
