{% extends 'base.html.twig' %}

{% block title %}Liste des étudiants du BDE{% endblock %}

{% block body %}
	<section id="about" class="padding">
		<div class="container aboutus">
			<div class="row">
				<div class="col-md-7 wow fadeInLeft" data-wow-delay="300ms">
					<h2 class="heading heading_space"><span>Liste des étudiants du </span>BDE <span class="divider-left"></span></h2>
				</div>
			</div>
			<div class="margin10">
				<div class="widget heading_space">
					<h3 class="bottom15">Étudiants</h3>
					<table class="table table-hover table-striped text-left">
						<tbody>
						{% for bdeMember in bdeMembers %}
							<tr>
								<td>{{ bdeMember }}</td>
								<td align="right"><a href="{{ path('bde_remove', {'id': bdeMember.id}) }}"><i class="fas fa-trash-alt"></i></a></td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
					<div>
						<a class="btn_common btn_border margin10 border_radius">
							Ajouter un élève
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
