{% extends 'base.html.twig' %}

{% block title %}Nouvel intervenant{% endblock %}

{% block body %}
	<h1>Insertion d'un nouvel <strong>intervenant</strong></h1>
	<a href="#teacher" class="btn btn-danger">Allons y !</a>
{% endblock %}

{% block section %}
	<section id="teacher">
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<div class="row">

							{{ include('teacher/_form.html.twig') }}

							<a href="{{ path('teacher_index') }}">Retour à la liste</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
